<div class="container">

  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <div class="row" *ngFor="let servicio of serviciosList">
    <div class="col">
      <p>{{servicio.id}}</p>
      <p>{{servicio.name}}</p>
      <p>{{servicio.description}}</p>
      <p>{{servicio.price}}</p>
      <button type="button"
              class="btn btn-primary btn-sm"
              [routerLink]="['/reserva', servicio.id]">
              Reservar
      </button>
    </div>
  </div>
</div>
