<div class="container">
  <div class="row" *ngFor="let servicio of servicioSeleccionado">
    <div class="col">
      <p>{{servicio.id}}</p>
      <p>{{servicio.name}}</p>
      <p>{{servicio.description}}</p>
      <p>{{servicio.price}}</p>
    </div>
  </div>

  <div class="row">
    <label for="select">Selecciona una fecha para ver la disponibilidad</label>
    <select id="select" class="form-control" (change)="selectChangeHandler($event)">
      <option [value]="item" *ngFor="let item of selectDate">{{item | date}}</option>
    </select>
  </div>

  <div class="row mt-5">
    <div class="col">
      <p *ngIf="selectDate">Disponibilidad de: {{startRange}} a {{endRange}}</p>
    </div>
  </div>

  <div class="row">
      <div class="" *ngFor="let hour of hours">
        <div  style="width: 100px;" class="col-sm animated heartBeat" *ngIf="hour.hora"
              [ngClass]="(hour.libre === true)?'alert alert-success':'alert alert-danger'"
              >{{hour.hora}}
        </div>
      </div>
  </div>

</div>
